﻿@{
    ViewBag.Title = "Chat";
}
<div class="container">
    <h2>Bookaka Chat</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Chat Groups</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">BOBO Chat <button id="boboChat" class="btn btn-info">Join Chat</button></li>
                <li class="list-group-item">FOMO Chat <button id="fomoChat" class="btn btn-info">Join Chat</button></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><label id="joinedGroupName"></label></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon" id="chatName"></span>
                <input id="message" type="text" class="form-control" placeholder="Chat Name" aria-describedby="basic-addon1">
                <input type="button" id="sendmessage" value="Send" class="btn btn-info"  />
                <input type="hidden" id="displayname" value="Send" class="btn btn-info" />
                
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="discussion" style="min-width: 100%"></textarea>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/Scripts/chat.js"></script>
}